*{
	box-sizing: border-box;
}
	:root{
	--navColor: (#212121);
	--searchColor:#303030;
	--navbarColor:#363636;
	--brandColor:#909090;
	--marginLeft:30px;
	--marginRight:16px;
	--sideNavWidth:83px;
}
body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
.box{
	width: 100vw;
	}
.navbarTop{
	display: flex;
	position: fixed;
	z-index: 2;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 9vh;
	background-color: var(--navbarColor); 
	overflow-y: hidden;
}
.left{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 28%;
	height: 60%;
}
#ytLink{
	width: 30%;
    height: 100%;

}
.ytIMG{
	object-fit: cover;
    width: 100%;
    height: 100%;
}
#pullMenu{
	padding: 0;
	margin-left: var(--marginLeft);
	margin-right: var(--marginRight);
	background-color: transparent;
    border: none;
    color: #fff;
    width: 20px;
    font-weight: normal;
    font-size: 22px;
}
#pullMenu:hover , #pullMenu:focus{
	outline: none;
	cursor: pointer;
}
.center{
	border-radius: 2px;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 45%;
	height: 60%;
	padding: 10px 0 10px 3px;
}
.center , #input{
	background-color: #181818;
}
#input{
	width: 492px;
	font-size: 16px;
	border: none;
	outline: none;
	color: #fff;
}
#keyboardBtn{
	background-color: transparent;
	border: none;
	color: var(--brandColor);
	font-size: 18px; 
	border: none;
}
#searchBtn{
	border: none;
	display: inline-block;
    height: 35px;
    width: 75px;
    font-size: 15px;
    color: #888;
	background-color: var(--searchColor);
}
#microphoneBtn{
	border: none;
	background-color: transparent;
    display: inline-block;
    height: 30px;
    width: 40px;
    font-size: 18px;
    color: #fff;
    margin-right: auto;
}
.center button:hover,.center button:focus,#microphoneBtn:focus , #microphoneBtn:hover{
    cursor: pointer;
    outline: none;
}
.right{
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 13%;
	margin-right: 20px;
}
#adminPanel{
	margin-right: 10px;
	width: 30px;
	height: 30px;
	overflow: hidden;
	background-color: #ddd;
	border-radius: 55%;
}
#adminPanel img {
	object-fit: cover;
    width: 100%;
    height: 100%;
}
.right button{
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}
.right button:focus{
	outline: none;
}
#bellBtn::after{
	content: '9';
	font-size: 12px;
	position: absolute;
	top: 0;
	right: 55px;
	width: 15px;
	height: 15px;

	border-radius: 50%;
	background-color: red;
	text-align: center;
}
#leftCenterNavbar{
	background-color: #181818;
	position: relative;
	top: 24px;
	display: flex;
}



.active i,.active p{
	/*margin-top: 10px;*/
	color: white;
}

#elementSection{
	position: relative;
	left: 6vw;
	display: block;
	overflow-y: hidden;
	overflow-x: hidden;
	width: 100%;
	min-height: 100vh;
	background-color: #181818;
	top: 9vh;
}
#card{
	position: relative;
	display: inline-block;
	float: left;
	margin-bottom: 20px;
    margin-left: 2px;
	background-color: #181818;
	width: 22vw;
	height: 50vh;
    margin-left: 1vw;
}
#card:nth-of-type(2n+3){
	margin-right: 0;
}
#iframeBox{
	position: relative;
    width: 100%;
    height: 60%;
}
#iframeBoxi{
	position: absolute;
	z-index: -1;
	top: 0;
	height: 100%;
	width: 100%;
}
iframe{
	position: absolute;
	z-index: -1;
	height: 100%;
	width: 100%;
}
#cardImg{
	object-fit: cover;
    width: 100%;
    height: 100%;
}

#cardBottom{
	display: flex;
	position: absolute;
	top: 60%;
}
#cardImg:hover{
	cursor: pointer;
}

#imgDIV,#imgDIV1{
	height: 40px;
	width: 14%;
	margin: 10px 13px 0 0;
}
#cardBottomImg,#cardBottomImg1{
	border-radius: 50%;
	object-fit: cover;
    width: 100%;
    height: 100%;
}
#textDIV,#textDIV1{
	width: 80%;
}
#textDIV p,#textDIV1 p{
	margin: 7px 0 10px;
	padding: 0;
}
#p1Bottom,#p1Bottom1 {
	font-family: 'Montserrat', 'Roboto';
	font-weight: bold;
	font-size: 15px;
	color: #fff;
}
#p2Bottom,#p2Bottom1{
	font-size: 13px;
	font-family: 'Montserrat', 'Roboto';
	color: var(--brandColor);
}



/*js*/
.menu-content1 {
   top: 45px;
   right: 167px;
   display: none;
   position: fixed;
   background-color: rgba(0,0,0,.4);
   min-width: 200px;
   z-index: 4;
}
.links1 {
   color: rgb(255, 255, 255);
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   font-size: 15px;
   font-weight: normal;
   border-bottom: 1px solid black;
}
.links1 i {
	color: #d22;
}
.menu-content2 {
   top: 45px;
   right: 122px;
   display: none;
   position: fixed;
   background-color: rgba(0,0,0,.4);
   min-width: 250px;
   z-index: 4;
}
.links2 {
	line-height: 30px;
   color: rgb(255, 255, 255);
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   font-size: 18px;
   font-weight: normal;
   border-bottom: 1px solid black;
}
.links2 i {
	color: #d22;
}
.menu-content3 {
   top: 45px;
   right: 80px;
   display: none;
   position: fixed;
   background-color: rgba(0,0,0,.8);
   min-width: 400px;
   padding: 13px;
   z-index: 4;
}
.menu-content3 p{
	color: #fff;
	font-size: 17px;
	font-weight: bold;
}
.hr1{
	margin: 13px 0 5px;
}




/*sidebar menu*/


.sidenav {
	margin: 0 auto;

  min-height: 100vh;
  width: var(--sideNavWidth);
  display: flex;
  flex-direction: column;
  top: 9vh;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: var(--navbarColor);
  overflow-x: hidden;
  font-size: 14px;
}



.flexly {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 20px;
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: #818181;
  transition: 0.3s;
  margin-bottom: 15px;
}
.flexly span{
	font-family: 'Source Sans Pro', 'Roboto';
	display: block;
	font-size: 12px;
	letter-spacing: 0;
	font-weight: bold;
}


.flexly:hover, .flexly:focus{
	outline: none;
	cursor: pointer;
}